body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
  padding-top: 100px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #38bdf8;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #0ea5e9;
}
